<% content_for :page_title, 'Arbitrager' %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Arbitrage opportunity: BTC</h2>
      <br />
      <div class="chart-container">
        <%= bar_chart(@btc_series,
                      library: {
          tooltip: {
            pointFormat: "Value: {point.y:,.1f} THB"
          },
          yAxis: {
            title: {
              text: 'Price difference in THB'
            }
          },
          chart: {
            height: 1000
          }
        }) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Arbitrage opportunity: ETH</h2>
      <br />
      <div class="chart-container">
        <%= bar_chart(@eth_series,
                      library: {
          style: { "height":"1000px"},
          tooltip: {
            pointFormat: "Value: {point.y:,.1f} THB"
          },
          yAxis: {
            title: {
              text: 'Price difference in THB'
            }
          },
          chart: {
            height: 1000
          }
        }) %>
      </div>
    </div>
  </div>
</div>

