<% content_for :page_title, 'Arbitrager' %>

<div class="container">
  <h2>Arbitrage opportunity: ETH</h2>
  <%= bar_chart(@chart_series,
    library: {
      tooltip: {
        pointFormat: "Value: {point.y:,.1f} THB"
      },
      yAxis: {
        title: {
          text: 'Price difference in THB'
        }
      }
    }) %>
</div>

